.accordion-wrapper {
  text-align: left;
  margin-right: 10px;
  position: absolute;
  z-index: 0;
}

@media screen and (max-width: 870px) {
  .accordion-wrapper {
    position: relative;
    width: fit-content;
    top: 8px;
    margin: 0;
    padding: 0;
  }
}

.accordion-header {
  cursor: pointer;
  border: none;
  font-weight: 700;
  margin-bottom: 5px;
  width: 160px;
  color: #282c34;
  box-shadow: 1px 2px 5px #8e9cb6;
}

.accordion-header:active {
  background-color: #dae0eb;
}

.accordion-wrapper li {
  list-style-type: none;
}

.submenu-items {
  z-index: 2;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  width: fit-content;
  max-width: 300px;
  margin: 0;
  color: #282c34;
  transition: height 0.5s ease-out;
  margin-bottom: 3px;
}

.no-items {
  font-size: 13px;
  text-align: center;
  color: #8e9cb6;
  user-select: none;
  min-width: 160px;
}

.item {
  cursor: pointer;
  font-size: 13px;
  padding: 3px 0;
  user-select: none;
  min-width: 160px;
}

.item:hover {
  background-color: #dae0eb;
}