#deletion-box {
  width: 330px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 5px #7b869b;
  border-radius: 0.2rem;
  font-weight: 700;
  color: #282c34;
}

#deletion-box header {
  display: flex;
  align-items: center;
  font-size: 16px;
}

#deletion-box svg {
  margin-right: 5px;
  color: orange;
}

#deletion-box p {
  max-width: 300px;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

#deletion-box .action-btns {
  text-align: right;
}

#deletion-box button {
  cursor: pointer;
  width: 60px;
  font-weight: 700;
  color: #282c34;
  box-shadow: 2px 2px 5px #7b869b;
}

#deletion-box .delete {
  border: 1px solid #b9b4f7;
  margin-left: 10px;
}

#deletion-box .cancel {
  border: 1px solid #f7b4b4;
}